<div class="<%= "back-ground" if !logged_in? %>">
  <% if logged_in? %>
    <div class="row">
      <aside class="offset-sm-6">
        <section class="post_form">
            <button class="btn btn-outline-primary" id="status"><%= t ".new_post" %></button>
        </section>
      </aside>
    </div>
  <div class="post-width">
    <%= render "layouts/feed" %>
  </div>
  <% end %>
</div>
