<div class="row ">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">All users</h1>
    <%= will_paginate %>
      <ul class="users ">
        <% @users.each do |user| %>
          <li class="li_user">
            <%= image_tag user.avatar.thumb.url if user.avatar? %>
            <%= link_to user.name, user, class: "name-user-all" %>
          </li><br>
        <% end %>
      </ul>
    <%= will_paginate %>
  </div>
</div>
