@import 'bootstrap';
@import 'variables';

.back-ground {
  background: image-url('daidien.jpeg') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

body{
  background:  #f4f4f4;
}

.btn-modal {
  line-height: 0.25;
}

.bg-faded {
  background-color: #3B5998;
}

.card {
  background: #fff;
}

.br-btn {
  margin-top: 5px;
}


.feed-post {
  margin-top: 20px;
}

.nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: $color-a;

  &:hover {
    color: $color-hover;
  }
}

.form-control {
  background-color: rgb(250, 255, 189);
}

.search-box1{
  border-radius: 02.25rem;
}

.formsearch {
  margin-left: 15px;
}

.form-size {
  margin: auto;
}

.form-edit {
  display: none;
}

h5, h1, .field {
  color: #3b5998;
  font-weight: 600;
 }

.modal-content {
  background-color: #f4f4f4;
  margin-top: -22px;
}

.post-ok {
  word-break: break-all;
  width: 100%;
}

input {
  height: 30px;
  margin-top: 12px;
  margin-left: 6px;
}

.offset-sm-3 {
    margin-left: 26%;
}

.post-content p img {
  width: 100%;
}

.dropdown {
  width: 100%;
}

.timestamp {
  color: #90949c;
}

.li_user {
  img {
    width: 50px;
    height: 50px;
  }
}

.user-table {
  width: 100%;
}

.result-searchs {
  color: #3B5998;
}

#status {
  margin-top: 5px;
}

.name-user-all {
  color: #092e7b;
}

.post-width {
  margin: 0 auto;
  width: 600px;
}

.post-item {
  width: 100%;
}
