@import 'bootstrap';

$color-nav: #292b2c;
$color-a: #fff;
$color-hover: #f00;

.back-ground {
  background: url('banner.jpg');
  height: 100vh;
}

body {
  background-color: #3A4348;
}

.bg-faded {
  background-color: $color-nav;
}

.br-btn {
  margin-top: 5px;
}

.nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: $color-a;

  &:hover {
    color: $color-hover;
  }
}

.form-control {
  background-color: rgb(250, 255, 189);
}
.formsearch {
  margin-left: 15px;
}

.form-size {
  margin: auto;
}

h5, h1, .field {
  color: $color-a;
 }
.modal-content {
  background-color: rgba(101, 95, 95, 0.76);
}
