@import 'bootstrap';

$color-nav: #292b2c;
$color-a: #fff;
$color-hover: #f00;

.back-ground {
  background: url('banner.jpg');
  height: 100vh;
}

body {
  background-color: #3A4348;
}

.bg-faded {
  background-color: $color-nav;
}

.br-btn {
  margin-top: 5px;
}

.feed-post {
  margin-top: 20px;
}

.nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: $color-a;

  &:hover {
    color: $color-hover;
  }
}

.form-control {
  background-color: rgb(250, 255, 189);
}

.search-box1{
  border-radius: 02.25rem;
}

.formsearch {
  margin-left: 15px;
}

.form-size {
  margin: auto;
}

.form-edit {
  display: none;
}

h5, h1, .field {
  color: $color-a;
 }

.modal-content {
  background-color: rgba(101, 95, 95, 0.76);
}

.post-ok {
  word-break: break-all;
}

input {
  height: 35px;
  margin-top: 6px;
  margin-left: 6px;
}

.offset-sm-3 {
    margin-left: 26%;
}

.post-content p img {
  width: 100%;
}

.dropdown {
  width: 100%;
}

.timestamp {
  color: #90949c;
}
