@import 'bootstrap';
@import 'color';

.back-ground {
  background: url('banner.jpg');
  height: 100vh;
}

.bg-faded {
  background-color: $color-nav;
}

.br-btn {
  margin-top: 5px;
}

.nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
  color: $color-a;

  &:hover {
    color: $color-hover;
  }
}

.form-control {
  background-color: $color-form;
}
.formsearch {
  margin-left: 15px;
}

.form-size {
  margin: auto;
}

h5,
h1,
.field {
  color: $color-a;
 }

.modal-content {
  background-color: $color-modal;
}
